<div class="header">
  <h1 class="title">Список городов</h1>
</div>
<div class="container">
  <div class="buttons" *ngIf="showButtons">
    <div class="view-mode">
      <button [class.active]="!isTileView" class="view-button" (click)="switchToListView()">Список</button>
      <button [class.active]="isTileView" class="view-button" (click)="switchToTileView()">Плитка</button>
    </div>
    <button class="create-button" [routerLink]="['/create-city']">Создать</button>
  </div>

  <div *ngIf="showCityList">
    <div *ngIf="isTileView">
      <app-tile></app-tile>
    </div>
    <div *ngIf="!isTileView">
      <app-list></app-list>
    </div>
  </div>
</div>
<div *ngIf="!showCityList">
  <router-outlet></router-outlet>
</div>
