.city-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.city-list ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.city-list li {
  padding: 20px;
  width: 100%;
  display: flex;
  position: relative;
}

.city-list li h2 {
  color: rgb(67, 70, 82);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  margin-right: 15px;
}

.city-list p {
  color: rgb(117, 121, 134);
  font-family: Roboto;
  font-size: 14px;
}

.city-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12%;
}

.list-details {
  margin-left: 28px;
  align-content: center;
}

.list-name {
  display: flex;
  align-items: center;
}


.city-list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  border: 1px solid rgb(211, 212, 219);
}



